.title {
    font-family: "궁서";
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

.paragraph {
    font-family: "휴먼엑스포";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 150%;
    color: #0000FF;
}

.reminder {
    text-align: center;
    text-decoration: underline overline line-through;
    text-shadow: 1px 0px 1px #000000;
    color: #FF0000;
}