/* ==================== Base ==================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ==================== Header ==================== */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 20px auto;
}

#logo {
    color: blue;
}

#head-bar {
    display: flex;
}

#head-bar > li {
    margin-left: 20px;
}

/* ==================== Contents ==================== */
#main-img {
    display: flex;
    margin: 0 auto;
}

#content-top > .content-inner {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 40px auto;
}

#content-top > .content-inner > ul > li > img {
    padding-right: 15px;
}

#content-top > .content-inner > ul {
    display: flex;
    margin: 0 70px;
}

#content-down {
    background-color: #eeeeee;
}

#content-down > .content-inner {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 35px 50px;
}

#content-down > .content-inner > ul {
    padding: 0px 20px;
}

#content-down > .content-inner > ul > li {
    display: flex;
}

.images {
    width: 250px;
    height: 150px;
}

/* ==================== Footer ==================== */
#footer {
    background-color: #292c32;
    color: white;
}

#footer-inner {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0px;
}

#footer-title {
    font-weight: bold;
}

#footer-icon {
    display: flex;
}

#footer-icon > li {
    margin-left: 10px;
}