.box {
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 100px;
}

.widthHeight {
    width: 200px;
    height: 200px;
}

.minWidth {
    min-width: 600px; /* 최소 가로 사이즈: 600px (스크롤이 생김) */
} /* 최대 가로 사이즈: 설정 없음 (100%) */

.maxWidth {
    max-width: 600px; /* 최대 가로 사이즈: 600px */
} /* 최소 가로 사이즈: 설정 없음 (100%) */

.minHeight {
    width: 200px;
    min-height: 100px; /* 최소 세로 사이즈: 100px */
} /* 최대 세로 사이즈: 설정 없음 (100%) */

.maxHeight {
    width: 200px;
    max-height: 100px; /* 최대 세로 사이즈: 100px */
} /* 최소 세로 사이즈: 설정 없음 (100%) */

.overflow > div {
    width: 200px;
    height: 100px;
    background-color: beige;
}

/* overflow : 하위 요소가 지정된 요소보다 클 경우 적용됨 */
.overflow :nth-child(2) {
    overflow: visible; /* 내용이 넘치면 그대로 보여줌 (기본값) */
}

.overflow :nth-child(4) {
    overflow: hidden; /* 내용이 넘치면 잘라내고 숨김 */
}

.overflow :nth-child(6) {
    overflow: scroll; /* 항상 스크롤바 표시 */
}

.overflow :nth-child(8) {
    overflow: auto; /* 내용이 넘치면 스크롤바 표시 */
}

.overflow :nth-child(10) {
    overflow-x: scroll;
    overflow-y: hidden;
}