 * {
    border: 1px solid red;
    box-sizing: content-box;
} 구역 확인용 */ 

#wrap {
    width: 1280px;
    margin: 0 auto;
} /* 웹 표준 가로 사이즈 : 1280px */

#main {
    display: flex;
    height: 400px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#main > #contents {
    width: 850px;
}

#main > #aside {
    width: 400px;
}

#header {
    height: 150px;
}

#footer {
    height: 100px;
}